.hidden {
    display: none !important;
}

h1 a, .ayahRef a, .tag a {
    text-decoration:none;
    font: inherit !important;
    color: inherit !important;
}

.result {    
    background-color: beige;
    border: 1px solid black;
    border-top-width: 0;
    overflow: hidden
}

.result .ayahWrapper {
    text-align: right;
    padding: 10px;
}

.result .ayah {
    font-size: 35px;
}

.result .ayahRef {
    font-size: 25px;   
    float: left;
}

.result .surahRef {
    cursor: pointer
}

.result .translation {
    font-size: 15px;
    padding-top: 5px;
}

li.tag {
    float: left;
    white-space: nowrap;
    display: inline-block;
    list-style-type: none;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: beige;
    margin: 1px;
    font-size: 10px;
    text-align: center;
}

li.tag a, li.addTag {
    display: inline-block;
    width: 86px;
    padding: 5px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.loggedin-action {
    display: none;
}

.loggedin .loggedin-action {
    display: block;
}

li.addTag {
    background-color: lightgreen;
    display: none;
    cursor: pointer;
}

.loggedin li.addTag {
    display: inline-block;
}

span.delete {
    margin-right: 5px;
    color: red;
    cursor: pointer;
}

.loggedin span.delete {
    display: inline-block;
}

.results ul {
    float: right;
}

#recentlyAddedTags {
    display: inline-block;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
}

#addTagDialogButton {
    max-width: 250px;
    margin: 0 auto;
}

#loadMore {
    display: none;
}
