<html>
<head>
    <title>Symantic Quran</title>
    <meta name="viewport" content="initial-scale=0.25">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.css" />
    <link rel="stylesheet" href="css/site.css" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-29293370-3', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <div data-role="page" id="mainPage">
        <div data-role="header" data-theme="b" data-position="fixed" data-tap-toggle="false">
            <a href="javascript:void(0)" id="menuBtn" data-icon="bars" data-iconpos="notext">Menu</a>
            <h1>Semantic Quran</h1>
            <h2 id="mainPageHeading"></h2>
            <div class="ui-btn-right">
                <form id="searchForm">
                    <input type="search" name="searchbar" id="search" value="" data-theme="a" />
                </form>
            </div>
        </div>
        <div data-role="content">
            <div class="resultsPane">
            </div>
        </div>
        <div data-role="footer" data-theme="b" data-position="fixed" data-tap-toggle="false">
            <select name="surahSelect" id="surahSelect" data-mini="true" data-inline="true">
                <option value="0">Select Surah</option>
            </select>
            <a class="ui-btn-right" data-iconpos="notext"
               data-icon="info" target="_blank"
               href="https://github.com/hasankhan/semantic-quran-web">
                View source
            </a>
        </div>
        <div data-role="panel" data-position="left" data-position-fixed="true" data-display="overlay" id="nav-panel">
            <ul data-role="listview" style="margin-top:-16px;" class="nav-search">
                <li data-filtertext="wai-aria" id="loginRow" class="hidden">
                    <a href="javascript:void(0)" id="loginBtn" data-icon="user" data-iconpos="notext" data-inline="true">Login</a>
                </li>
                <li data-filtertext="wai-aria">
                    <h3>Suggested Tags</h3>
                    <ul>
                        <li class="tag" data-tag="marriage">
                            <span class="tagName">marriage</span>
                        </li>
                        <li class="tag" data-tag="dua">
                            <span class="tagName">dua</span>
                        </li>
                        <li class="tag" data-tag="heaven">
                            <span class="tagName">heaven</span>
                        </li>
                        <li class="tag" data-tag="hell">
                            <span class="tagName">hell</span>
                        </li>
                    </ul>
                </li>
                <li data-filtertext="wai-aria">
                    <h3>Latest Tags</h3>
                    <ul id="lastUsedTags"></ul>
                </li>
            </ul>
        </div>
        <div data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay" id="addTagPanel" data-theme="a">
            <form id="addTagForm">
                <h3>Please contribute a thoughtful tag for ayah <span id="addTagRef"></span></h3>
                <label for="tagName">Tag</label>
                <input type="text" name="tagName" value="" id="addTagDialogTextBox"
                       data-clear-btn="true" data-mini="true"
                       max-length="15"
                       placeholder="(ex: heaven)">
                <ul id="recentlyAddedTags"></ul>
                <div data-inline="true">
                    <a data-rel="close" data-theme="c" data-role="button" data-mini="true" data-inline="true">Cancel</a>
                    <a id="addTagDialogButton" data-rel="close" data-theme="b" data-role="button" data-mini="true" data-inline="true">Save</a>
                </div>
            </form>
        </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.1.2.min.js"></script>
    <script type="text/javascript" src="js/quranclient.js"></script>
    <script type="text/javascript" src="js/modernizr.js"></script>
    <script type="text/javascript" src="js/mousetrap.min.js"></script>
    <script type="text/javascript" src="js/site.js"></script>
    <script type="text/template" id="surah_title_template">
        <%= id %>: <%= name.simple %> - <%= name.english %>
    </script>
    <script type="text/template" id="surah_list_template">
        <% surahs.forEach(function(surah) { %>
        <option value="<%= surah.id %>"><%= surah.id %>: <%= surah.name.simple %></option>
        <% }); %>
    </script>
    <script type="text/template" id="tag_list_template">
        <% tags.forEach(function(tag) { %>
        <li class="tag <%= classes %>" data-tag="<%= tag %>">
            <span class="tagName"><%= tag %></span>
        </li>
        <% }); %>
    </script>
    <script type="text/template" id="verse_tag_template">
        <li class="tag" data-tag="<%= tag %>" data-surah="<%= surah %>" data-verse="<%= verse %>">
            <span class="tagName"><%= tag %></span>
            <span class="delete loggedin-action">X</span>
        </li>
    </script>
    <script type="text/template" id="result_template">
        <% data.forEach(function(row){ %>
        <div class="result" data-surah="<%= row.surah %>" data-verse="<%= row.verse %>">
            <div class="ayahWrapper">
                <div class="ayahRef">[<span data-surah="<%= row.surah %>" class="surahRef"><%= row.surah %></span>:<%= row.verse %>]</div>
                <div class="ayah"><%= row.quran.text %></div>
                <div class="translation"><%= row.content[0].text %></div>
            </div>
            <ul id="tags<%= row.surah %>_<%= row.verse %>">
                <% row.tags.forEach(function(tag){
                print(tagTemplate({
                        tag: tag,
                        surah: row.surah,
                        verse: row.verse
                    }));
                });
                %>
                <li class="tag addTag loggedin-action" data-surah="<%= row.surah %>" data-verse="<%= row.verse %>">
                    Add tag
                </li>
            </ul>
            <audio controls preload="none" onplay="pausePreviousAudio(event)">
                <source src="<%= row.audio.mp3.url %>" type="audio/mpeg">
                <source src="<%= row.audio.ogg.url %>" type="audio/ogg">
            </audio>
            <div class="clear"></div>
        </div>
        <% }); %>
    </script>
</body>
</html>