<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Single page" stopProcessing="true">
                    <match url="(.*?)$" />                    
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
                    </conditions>
                    <action type="Redirect" url="/#{R:1}" redirectType="Permanent" />                    
                </rule>
                <rule name="Domain redirect" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(www.semquran.com|semantic-quran.azurewebsites.net)$" />
                    </conditions>                    
                    <action type="Redirect" url="http://semquran.com/{R:0}" redirectType="Permanent" />                    
                </rule>  
            </rules>
        </rewrite>
    </system.webServer>
</configuration>